body {
  font-family: 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f5e6; /* Cor de fundo amarelada */
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

main {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input, textarea {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

select{
  padding: 10px;
  border-radius: 5px
}

.div-button{
  columns: 2;
  border-radius: 5px;
}

.button-incluir{
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-alteracao{
  
  padding: 10px;
  background-color: #007b00;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-alteracao:hover{
  background-color: #005600;
}

.button-excluir{
  
  padding: 10px;  
  background-color: #fc9700;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.button-excluir:hover{
  background-color: #fc7a00;
}

.button-incluir:hover {
  background-color: #0056FF;
}



.button-voltar{
  margin-left: 10px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-voltar:hover{
  background-color: #0056FF;
}